<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.5" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

  <link rel="stylesheet" href="static/style.css">

</head>

  <body hx-ext="json-enc" hx-post="page_body" hx-trigger="load, htmx:afterRequest target:.reloader" hx-vals="js:{tg_duery: Telegram.WebApp.initDataUnsafe}">

  </body>

</html>