<h1 class="page-header">Выбери свои интересы</h1>

<div class="page-content menu">
    <div class="action-button-container">
        <button hx-post="menu_select_find_pair_start" class="reloader action-button" hx-swap="none">
            Поиск компаньона
        </button>
        <span class="value-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
    </div>
    <div class="action-button-container">
        <button hx-post="menu_select_events_way_select" class="reloader action-button" hx-swap="none">
            Ивенты
        </button>
        <span class="value-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
    </div>
    <div class="action-button-container">
        <button hx-post="menu_select_sth_new" class="reloader action-button" hx-swap="none">
            Рекомендации
        </button>
        <span class="value-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </span>
    </div>
</div>